<div class="col-xs-12">
    <ul>
        <app-bibli *ngFor="let item of dataTest; let i = index"
                        [indexOfFilm]="i"
                        [filmName]="item.Title"
                        [filmYear]="item.Year"
                        [filmAvailable]="item.id"
                        [filmGenre]="item.thema.name"
                        ></app-bibli>

    </ul>
    <!-- <button class="btn btn-success" 
            [disabled]="!isAuth"
            (click)="onAllumer()"> Tout indenter </button> -->





</div>

