<nav class="navbar navbar-default">
    <div class="conatiner-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="films" >Films</a></li>
            <li routerLinkActive="active"><a routerLink="themas" >Thèmes</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1> Bienvenue sur {{title}}!</h1>


    <!-- GETS DATAS FROM app.components.ts 
        To change in film-view and film.service to match wanted values
    -->
    <table border="1">
        <tr *ngFor="let item of datas">
            <td>{{item.id}}</td>
            <td>{{item.title}}}</td>
            <td>{{item.userId}}</td>
        </tr>
    </table>




    <router-outlet></router-outlet>    
</div>


