<nav class="navbar navbar-default">
    <div class="conatiner-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="films" >Films</a></li>
            <li routerLinkActive="active"><a routerLink="themas" >Thèmes</a></li>
            <li routerLinkActive="active"><a routerLink="newFilms" >NEW Films</a></li>
            <li routerLinkActive="active"><a routerLink="newThemas" >NEW Themas</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1> Bienvenue sur {{title}}!</h1>
    <p>Découvrez votre viéothèque en ligne</p>


    <router-outlet></router-outlet>    
</div>


